@import url(https://fonts.googleapis.com/css?family=Montserrat);
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.hero-nav__inner h1 a {
  text-decoration: none;
  color: orange;
}
ol a{
  text-decoration: none;
  width: 33em;
  margin: 0 auto;
  line-height: 1.625;
  color: black;
}
.min_menu ol{
  border: 3px ridge orange ;
  padding-left: 26%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 400px;
  min-height: 105px;

  background-image: url(../img/First.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.hero-nav .hero-nav__inner {
  z-index: 1;
}
.hero-nav h1 {
  color: orange;
  font-size: 9.5vw;
}
.hero-nav:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: background 400ms;
  transition: background 400ms;
}
.hero-nav.fixme:before {
  background: rgba(0, 0, 0, 0.8);
}
.page-content {
  width: 37em;
  margin: 0 auto;
  line-height: 1.625;
  color: black;
  min-height: calc(100vh - 80px);
}
.header_sec{
  border-bottom: 2px solid orange;
  height: 68px;
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
}
.logo_text a, .logo_text h1 {
  font-family: 'Montserrat', sans-serif;
  color: orange;
  font-size: 6 vw;
  text-decoration: none;
}
.main, .logo, .footer{
  margin-left: auto;
  margin-right: auto;
}
.logo h1{
  width: 800px;
  padding-bottom: 1px;
  margin-left: 20px;
  padding-top: 10px;
}

ul.menu li{
  float: left;
  padding: 0 10px 0 10px;
  list-style: none;
  margin: 0px 2px 0 0;
}
ul.menu li a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  height: 20px;
  padding: 0px 55px 5px 28px;
  text-decoration: none;
  color:orange;
}
ul.menu li a:hover {
  color: orange;
}
.tabl_data_types{
  border: 2px solid orange;
  padding-left: 21px;
}
.page-content b {
  color: orange;
}
.Code_in_CodePro {
  border-left: 2px solid orange;
  color: #0000FF;
  padding: 12px 0px 2px 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: #F7F7F7;
}
.Code_in_CodePro strong{
  Color: black;
}
.img_cy{
  padding-left: 25%;
}
.arr li{
  margin: 0px 10px 0px 20px;
}
.header_sec_First{
  border-bottom: 2px solid orange;
  height: 68px;
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
  background-image: url(../img/First.png);
}




.footer{
  width: 100%;
  height: 10%;
  padding: 30px 0px 6px 0;
  text-align: center;
  background-image: url(../img/First.png);
  color: white;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
  max-height: 100px;
}
.footer a{
  color: white;
  text-decoration: none;
}
.footer a:hover{
  color: darkgray;
  text-decoration: none;
}
.footer p{
  padding: 0 0 6px 0;
}
.post_content .posts{
  font-size: 0.8em;
}
.posts a{
  text-decoration: none;
  color: black;
}